<% if @promotions.any? %>
<dl>
  <% @promotions.each do |promotion| %>
    <dt>Nome</dt>
    <dd><%= link_to promotion.name, promotion_path(id: promotion.id) %></dd>
    <dt>Descrição</dt>
    <dd><%= promotion.description %></dd>
    <dt>Porcentagem de desconto</dt>
    <dd><%= number_to_percentage promotion.discount_rate, precision: 2, separator: ',' %></dd>
    <hr>
  <% end %>
</dl>
<% else %>
  <h2>Nenhuma promoção cadastrada</h2>
<% end %>

<%= link_to 'Voltar', root_path%>
<%= link_to 'Registrar uma promoção', new_promotion_path%>